body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 30px;
}
.poster {
    width: 900px;
    margin: auto;
    background: rgb(241, 165, 165);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.left {
    width: 35%;
    text-align: center;
}
.left img {
    width: 100%;
    border-radius: 12px;
    
}
.left h2 {
    margin: 15px 0 5px;
}
.left p {
    color: #555;
}
.right {
    width: 65%;
    padding: 10px;
}
.right h3 {
    margin-top: 0;
}
.link {
    margin-top: 10px;
}
.link a {
    color: #007bff;
    text-decoration: none;
}
